<a href="https://colab.research.google.com/github/AraCustodio/CCINCOML_EXERCISES_COM23P/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [ ]:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [ ]:
last_four_months = (months[-4:])
print(last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [ ]:
first_four_months = (months[:4])
print(first_four_months)

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [ ]:
list_size = len (months)
print(list_size)

12

- Get the element with the largest value of the month list using `max()`

In [ ]:
largest_value = max (months)
print(largest_value)

September

- Get the element with the smallest value of the month list using `min()`

In [ ]:
smallest_value = min (months)
print(smallest_value)

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [ ]:
alphabetical_order = sorted (months)
print(alphabetical_order)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [ ]:

birth_date_tuple = [12,7,2004]
month,date,year = birth_date_tuple


print("Month:",month)
print("Date:", date)
print("Year:",year)

Month: 12
Date: 7
Year: 2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [ ]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}
unique_products = set(products)
print(unique_products)

{'projector', 'printer', 'speakers', 'headphones', 'powerbank', 'laptop', 'mouse', 'tablet', 'monitor', 'keyboard', 'smartphone'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [ ]:

print("headphones" in unique_products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [66]:
favorites = {"Food":'Pizza', "Color":'Pink', "Sport":'Volleyball',"Drink":'Coca-cola',"Dessert":'Boba-Tea'}
print(favorites)

{'Food': 'Pizza', 'Color': 'Pink', 'Sport': 'Volleyball', 'Drink': 'Coca-cola', 'Dessert': 'Boba-Tea'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [ ]:

months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
for months in months:
    print(months)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [ ]:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
for months in months:
       if months.endswith("ber"):
           print(months)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [ ]:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
for months in months:
        if not months.endswith("ber"):
           print(months)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [ ]:
for name in range(5):
   print("Ara Franchesca")

Ara Franchesca
Ara Franchesca
Ara Franchesca
Ara Franchesca
Ara Franchesca

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [64]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []
for name in names:
  usernames.append(name.lower().replace(" ","_"))

In [65]:
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [78]:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

counter = 0
while counter < len(months):
  print(months[counter])
  counter = counter + 1
  if months[counter].find('ber') > 0:
    break

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [57]:
def population_density(population,land_area):
  return population / land_area

In [58]:
population_density(12345, 543)

22.734806629834253

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [ ]:
def averagesteps(steps_list):
  total_steps = sum(steps_list)
  average = total_steps / len(steps_list)
  return average

steps_per_day = [1000, 2000, 3000, 4000, 5000, 6000, 7000]
average = averagesteps(steps_per_day)
print("Average steps per day", average)

Average steps per day 4000.0